* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.container {
    display: flex;
    width: 750px; 
    height: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    animation: float 6s ease-in-out infinite;
}

.container::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(135deg, #00b3b3, #002a44, #1f5f8b);
    background-size: 300%;
    z-index: -1;
    animation: borderAnimation 8s linear infinite;
    border-radius: 10px;
}

@keyframes borderAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.left-panel {
    flex: 1;
    background-color: #002a44; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.welcome-message h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00b3b3;
}

.welcome-message p {
    font-size: 16px;
    line-height: 1.5;
    color: #e0e0e0; 
}


.right-panel {
    flex: 1;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

p {
    color: #a0a0a0; 
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input::placeholder {
    color: #c0c0c0;
}

.btn {
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.connect-btn {
    background-color: #00b3b3; 
}

.client-space-btn {
    background-color: #002a44;
    margin-top: 15px;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
}

.links a {
    color: black;
    text-decoration: none;
}

.links a:first-child {
    color: #00b3b3;
    text-decoration: none;
}
